.main-banner { 
  background: var(--White);
  margin-bottom: 6rem;
  position: relative;
}

.container-banner-img {
  width: 100%;
  height: 372px;
  overflow: hidden;

  & .bg-mobile {
    width: 100%;
    top: calc( 0 + #{$height-header-responsive});
  }
  & .mockup {
  position: absolute;
  object-fit: cover;
  top: -8rem;
  height: 500px;
  width: 100%;
  left: 0;
  
  }
}

.container-information-banner {
  .title {
  margin: 0;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  padding: 1em 1em .5em 1em;
  }

  .text {
    margin: 1rem 1.5rem;
    text-align: center;
    font-size: .8em;
  }
}

.btn-request {
  color: var(--White);
  font-weight: 400;
  padding: .7rem 1rem;
  border-radius: 5rem;
  display: block;
  margin:  2.5rem auto;
  text-align: center;
  width: 10rem;
}
