:root {
  // PRIMARIOS
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  // NEUTRAL
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

$max-width: 100%;
$height-header-responsive: 4rem;
$height: 5rem;
$color-toogle: rgb(99, 97, 97);
$h-img-banner: 450px;

$breakpoints: (
    small: 360px,
    medium: 640px,
    large: 960px,
    xlarge: 1024px
);

/* Posicionamiento de los componentes */

:root {
    --z-back     : -10 ;
    --z-normal   : 1 ;
    --z-tooltip  : 10 ;
    --z-fixed    : 100 ;
    --z-modal    : 1000 ;
}